<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{nesting}}home.css" />
  <link rel="stylesheet" href="{{nesting}}template.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dan's hideaway | {{title}} </title>
</head>

<body>
  <!-- background stickers -->
  <div class="container">
    <!-- actual content -->
    <div class="content">
      <nav class="fitbox newspaper boxshadow glacier" style="width: 100%">
        {% include 'components/nav.njk' %}
      </nav>
      <div class="content-container">
        <main>
          <section class="fullbox content-box" style="overflow-y: auto; padding: 1em;">
            <h2>My Blogposts</h2>
            <hr />
            <ul class="flex-column glacier" style="font-size: 1.2em;">
              <img>
              {% for post in collections.post | reverse %}
              <li><a href="{{post.url | stripSlash}}">{{ post.data.title }}</a>  - posted on {{ post.date | readableDate }}</li>
              {% endfor %}
            </ul>
          </section>
        </main>
        <footer style="text-align: center">
          <div class="divider"><img src="{{nesting}}images/dividers/buttons.gif" /></div>
          <!-- FC2 Counter  Starts here -->
          <script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502904&main=1"></script>
          <noscript><img src="//counter1.fc2.com/counter_img.php?id=40502904&main=1" /></noscript>
          <!-- FC2 Counter  Ends here -->
        </footer>
      </div>
    </div>
  </div>
</body>

</html>