<!doctype html>
<html lang="en">

<head>
    {% include "components/system/html-head.njk" %}
     <style>
        {% block style %}{% endblock %}
    </style>
</head>

<body>
    <div class="container">
        <nav class="flex-row" style="align-items: center; justify-content: space-between;">{% include
            "components/nav.njk" %}</nav>
        {% block main %}{% endblock %}
        {% include "components/aside.njk" %}
        {% include "components/footer.njk" %}

        <!-- 
        11ty layout guide:

        all 11ty njk files lives in _includes folder of the content folder. html files can live outside of the _includes either in the root of the content folder or in subfolders for extra organization. html files living within subfolders MUST utilize the { nesting } variable in order to properly link images, links, and other assets once built.
        
        % include "" % requires a njk file to include.
        % block % requires a PAGE-SPECIFIC njk or html file, in this case index.html, to define the content for that block.

        % include % is for reusable components that are the same across multiple pages, like the header, nav, and
        footer.
        % block % is for page-specific content that will be different on each page, like the main content and aside.
        Each page can define its own content for the blocks, while still using the same overall layout defined in this
        layout.njk file.
        -->

    </div>
    <script src="{{ nesting }}js-files/glightbox-personal.js" defer></script>
</body>

</html>