* {
    box-sizing: border-box;
}

.strikethrough {
    text-decoration: line-through;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

.container,
nav {
    min-width: 1014px;
    max-width: 1014px;
}

img.glightbox {
    cursor: pointer;
}

/* */
/* */
/* */
/* page bg */
body::before {
    /*only affects background image */
    content: "";
    /* this content property makes a "fake" pseudoelement; essentially a fake box that doesn't exist in the html */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url(../images/bgs/boat.jpg), url(../images/bgs/pixelclouds.jpg);
    background-color: #78b9f4;
    background-blend-mode: normal, luminosity;
    background-repeat: repeat-y, repeat;
    background-position: right, left;
    background-size: none, cover;
    filter: sepia(55%) grayscale(25%);
}

/* */
/* */
/* */
/* layout classes */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 0.5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.center-align {
    align-items: center;
}

.fitbox {
    /* fitted box to content size*/
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.content-box {
    width: 16.7rem;
    height: 18.75rem;
    max-height: 18.75rem;
}

.button-box {
    width: 12.5rem;
    height: 3.4375rem;
}

.internal_content_box {
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    align-items: center;
}

/* gallery layout */
.gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-wrapper h2 {
    font-family: Director;
    margin: 0;
    margin-top: 0.5em;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-container h3 {
    font-family: Director;
    font-size: 1em;
    margin: 0;
}

/* */
/* */
/* */
/* design classes */

.dropshadow {
    box-shadow: 3px 3px 5px #666;
}

.padding {
    padding: 0.75em;
}

.padding-top_0 {
    padding-top: 0;
}

.object-fit-contain {
    object-fit: contain;
}

.blue-header {
    /* fitted header for text */
    box-sizing: border-box;
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 5px #666;
    background: url(../images/bgs/gingham/gingham-baby-blue.jpg);
    background-size: contain;
    font-family: Director;
    font-size: 27px;
    text-align: center;

    padding: 0;
    margin: 0;
    padding-bottom: 0.05em;
}

.scrolling-contentbox {
    height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.image-border {
    border: black 5px double;
}

.image-dropshadow {
    filter: drop-shadow(2px 2px 2px);
}

.floating-image {
    position: absolute;
    z-index: 5;
}

.blinkie {
    width: 120px;
    object-fit: contain;
}

.button {
    width: 100px;
    object-fit: contain;
}

.sticky-note_bg {
    background-color: #ede7dbec;
}

.blog_image {
    width: 250px;
    object-fit: contain;
    border: 1px solid;
    padding: 2px;
    margin: 10px;
    filter: 0;
    box-shadow: 3px 3px 5px #666;

}

.gallery-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid;
    padding: 2px;
    margin: 10px;
    filter: 0;
    box-shadow: 15px 12px 9px #666;

}

.gallery-image:hover {
    transform: rotate(3deg);
}

.bold-font {
    font-weight: bold;
}


/* */
/* */
/* */
/* SPECIFIC image classes */
.so-long-image {
    width: 300px;
    object-fit: contain;
    margin-right: 1em;
    filter: grayscale(40%) sepia(40%);
}

.dancing-ginjirotchi-image {
    width: 25px;
    object-fit: contain;
}

/* */
/* */
/* */
/* layout structure */

body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: "nav nav" auto "aside main" auto "footer footer" auto;
    grid-template-columns: 14rem auto;
    width: 70%;
    gap: 0.5em;
    filter: sepia(25%);
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

nav {
    grid-area: nav;
    background: url(../images/bgs/paper/newspaperbg.jpg);
    box-shadow: 3px 3px 5px #666;
    font-family: Director;
    font-size: 18px;
}

aside {
    grid-area: aside;
    background: url(../images/bgs/paper/squarepaper.jpg);
    padding: 0.5em;
    box-shadow: 3px 3px 5px #666;
    max-width: 14rem;
}

footer {
    grid-area: footer;
    background: url(../images/bgs/gingham/gingham-lavender.jpg);
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    padding: 0.1em;
    margin: 0 auto;
    gap: 1em;
    align-items: center;
    font-size: 0.9em;
}

footer>* {
    margin: .0625rem;
}

marquee {
    width: 10em;
    object-fit: contain;
    scrollamount: 1;
}

marquee>a>img {
    margin: 0.2em;
    box-shadow: 2px 2px 2px;
}

/* font sizing */
h2.blue-header {
    font-size: 25px;
}

/* */
/* */
/* */
/* nav bar & links */
.nav-bar {

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: black;
    }
}

.nav-bar li {
    padding: 5px;
    margin-right: 10px;
}

li:hover {
    background-color: rgba(20, 20, 20, 0.15);
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: solid black 1px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 5;
}

/* */
/* */
/* */
/* content ids */
#mini-blog a img {
    cursor: pointer;
    border: none;
    /* Removes default borders in older browsers */
    transition: transform 0.2s;
    /* Smooth effect for hover */
}

#mini-blog a img:hover {
    transform: rotate(-2deg) scale(1.1);
}

#featured_image:hover {
    transform: scale(1.2);
}

/* */
/* */
/* */
/* fonts */

@font-face {
    font-family: Altima;
    src: url("../fonts/Altima/Altima.woff");
}

@font-face {
    font-family: Reactor7;
    src: url("../fonts/Reactor7/Reactor7.woff");
}

@font-face {
    font-family: Century;
    src: url("../fonts/Century/century_normal.ttf");
}

@font-face {
    font-family: Director;
    src: url("../fonts/Director/Director-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.Director-font {
    font-family: Director;
}

@font-face {
    font-family: Faune;
    src: url("../fonts/Faune/Faune-Text_Regular.woff") format("woff");
}

@font-face {
    font-family: Faune-Italic;
    src: url("../fonts/Faune-Italic/Faune-Text_Italic.woff") format("woff");
}

@font-face {
    font-family: Glacier-Regular;
    src: url("../fonts/Glacier-Regular/Glacier-Regular.woff") format("woff");
}

@font-face {
    font-family: Glacier-Black;
    src: url("../fonts/Glacier-Black/Glacier-Black.woff") format("woff");
}

@font-face {
    font-family: Glacier-Bold;
    src: url("../fonts/Glacier-Bold/Glacier-Bold.woff") format("woff");
}


/* */
/* */
/* */
/* background images */
.newspaper {
    background-image: url(../images/bgs/paper/newspaperbg.jpg);
}

.lined-paper {
    background-image: url(../images/bgs/paper/linedpaper.jpg);
}

.textured-bg1 {
    background-image: url(../images/bgs/back01.gif);
}

/* */
/* */
/* */
/* border image */
.painting_frame-border {
    border-image-slice: 257 196 326 192;
    border-image-width: 30px 30px 30px 30px;
    border-image-outset: 28px 28px 28px 28px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/borders/frame-modified.png);
}

.button-border {
    border-image-slice: 70 70 70 80;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-repeat: stretch stretch;
    border-image-source: url(/Users/dan/Desktop/Neocities/dan-hideaway/public/images/borders/buttonborder.png);
}

/* */
/* */
/* */
/* status cafe styles */

#statuscafe {
    padding: .5em;
    background: url(../images/bgs/globebg.jpg);
    border: 1px solid midnightblue;
    width: fit-content;
}

#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}


/* */
/* */
/* */
/* music player */
< !-- stuff you can probably edit without breaking the styling lol -->.title-bar {
    background: linear-gradient(90deg, purple, orchid, pink);
}

.player {
    width: fit-content;
    border: black solid 1px;
    border-width: 1px 0px 0px 1px;
    margin-left: auto;
    margin-right: auto;
}

.controlimg:hover {
    cursor: help;
}

< !-- below is styling to get windows 98 effect. from 98.css [https: //jdan.github.io/98.css/] --> 

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 11px;
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-horizontal.svg");
    transform: translateY(-8px);
    box-shadow: none;
    border: none;
}

input[type="range"].has-box-indicator::-webkit-slider-thumb {
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-rectangle-horizontal.svg");
    transform: translateY(-10px);
}

input[type="range"]::-moz-range-thumb {
    height: 21px;
    width: 11px;
    border: 0;
    border-radius: 0;
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-horizontal.svg");
    transform: translateY(2px);
}

input[type="range"]::-moz-range-thumb {
    background: url("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-horizontal.svg");
    border: 0;
    border-radius: 0;
    height: 21px;
    transform: translateY(2px);
    width: 11px;
}

input[type="range"].has-box-indicator::-moz-range-thumb {
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-rectangle-horizontal.svg");
    transform: translateY(0px);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
        -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
        -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
}

button,
input,
label,
option,
select,
table,
textarea,
ul.tree-view {
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px
}

button,
input[type=reset],
input[type=submit] {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222
}

.vertical-bar,
button,
input[type=reset],
input[type=submit] {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

.vertical-bar {
    height: 20px;
    width: 4px
}

button:not(:disabled):active,
input[type=reset]:not(:disabled):active,
input[type=submit]:not(:disabled):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222
}

@media (not(hover)) {

    button:not(:disabled):hover,
    input[type=reset]:not(:disabled):hover,
    input[type=submit]:not(:disabled):hover {
        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
    }
}

button:focus,
input[type=reset]:focus,
input[type=submit]:focus {
    outline: 1px dotted #000;
    outline-offset: -4px
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    border: 0
}

:disabled,
:disabled+label,
input[readonly],
input[readonly]+label {
    color: grey
}

:disabled+label,
button:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
    text-shadow: 1px 1px 0 #fff
}


.title-bar-controls button {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222
}

.title-bar-controls button {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

.title-bar-controls button:not(:disabled):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222
}

@media (not(hover)) {
    button:not(:disabled):hover {
        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
    }
}

.title-bar-controls button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px
}

.title-bar-controls button::-moz-focus-inner {
    border: 0
}


@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://files.catbox.moe/1za99g.woff") format("woff");
    src: url("https://files.catbox.moe/8fwbkl.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://files.catbox.moe/z7csle.woff") format("woff");
    src: url("https://files.catbox.moe/moqhx6.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}


.window,
.title-bar {
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    font-size: 11px;
}

.window {
    box-shadow: inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf, inset -2px -2px #808080,
        inset 2px 2px #ffffff;
    background: #c0c0c0;
    padding: 3px;
    width: 260px;
}

.title-bar {
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    font-weight: bold;
    color: white;
    letter-spacing: 0;
    margin-right: 24px;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls button {
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
}

.title-bar-controls button:active {
    padding: 0;
}

.title-bar-controls button:focus {
    outline: none;
}

.title-bar-controls button[aria-label=Minimize] {
    background-image: url("https://raw.githubusercontent.com/jdan/98.css/main/icon/minimize.svg");
    background-position: bottom 3px left 4px;
    background-repeat: no-repeat
}

.title-bar-controls button[aria-label=Maximize] {
    background-image: url("https://raw.githubusercontent.com/jdan/98.css/4a2282dd9170cabf730fb5803d1153d86b2e94e3/icon/maximize.svg");
    background-position: top 2px left 3px;
    background-repeat: no-repeat
}

.title-bar-controls button[aria-label=Close] {
    background-image: url("https://raw.githubusercontent.com/jdan/98.css/main/icon/close.svg");
    background-position: top 3px left 4px;
    background-repeat: no-repeat;
    margin-left: 2px
}

.window-body {
    margin: 0px;
    height: 98px;
}



input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

/* settings for chrome browsers */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    /* thickness of seeking track */
    cursor: help;
}


/* settings for firefox browsers */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    /* thickness of seeking track */
    cursor: help;
}

.flex {
    display: flex;
}

.titlebaricon {
    height: 14px;
    width: 14px;
}


.songtitlewindow {
    background-color: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

#musicplayer {
    border: 2px solid silver;
    /* border around player */
    border-width: 2px 0px 0px 0px;
    width: 160px;
    /* width of the player */
}

#imagestyle {
    background: silver;
    /* background color of player */
    border: 2px solid silver;
    /* border around player */
    width: 95px;
    /* width of the player */
    height: 95px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.ic {
    width: 90px;
    position: relative;
    bottom: 1px;
    right: 1px;
    overflow: hidden;
    padding: 2px;
    border: 2px solid transparent;
}

.songtitlearrow {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://files.catbox.moe/f5e8np.png);
    height: 21px;
    width: 21px;
    position: relative;
    top: 2px;
    left: -2px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
}

.songtitle {
    padding: 5px;
    /* padding around song title */
    border-bottom: 0px;
    /* border under song title */
    display: block;
    font-family: Pixelated MS Sans Serif;
}

.controls {
    font-size: 18px !important;
    /* size of controls */
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 10px;
}

.controls td {
    padding: 8px 5px 0px 5px;
    /* padding around controls */
}

button {
    min-width: 40px;
}

.seeking {
    background-color: #c0c0c0;
    /* background color of seeking bar */
    display: flex;
    justify-content: space-evenly;
    padding: 14px;
    /* padding around seeking bar */
}

.current-time {
    padding-right: 5px;
}

.total-duration {
    padding-left: 5px;
}

.controlimg {
    height: 15px;
    width: 15px;
}

/* */
/* */
/* */
/* media queries */
@media (min-width: 1920px) and (max-width: 2560px) {
    body {
        zoom: 110%;
    }
}