---
title: my blog
data: collections.post
reverse: true
date: git Last Modified
---

{% extends "index.njk" %}

{% block style %}
{% endblock %}

{% block main %}
<main>
    <section class="flex-column dropshadow newspaper" style="padding-top: 0;">
        <h2 class="blue-header">Blogposts</h2>
        <div class="padding">
            <ul class="flex-column glacier" style="font-size: 1.2em; list-style-type: none;">
                {% for post in collections.post | reverse %}
                <li><a href="{{post.url | stripSlash }}">{{ post.data.title }}</a> - {{ post.date |
                    readableDate }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock %}