<aside>
{% include "components/currently.njk" %}

{# mii picture #}
{# <figure class="newspaper button-border"
    style="background-size: contain; box-shadow: 1px 1px 1px #666; padding: 0.25em;">
    <img src="images/page-assets/mii.png" style="padding: 0.25em; width: 8em; object-fit: contain" />
    <figcaption style="margin-bottom: 15px;">
        <div style="text-align: center;">
            <b style="font-family: Glacier-Bold; font-size: 1.2em;">Mii! <img
                    src="images/old-web/emoticons/lovesmile.gif" /></b>
        </div>
    </figcaption>
</figure> #}
<div class="flex-row" style="align-items: center; gap: 0.25em;">
    <img style="width: 100px; object-fit: contain;"
        src="{{ nesting }}images/page-assets/tamagotchi/kuchipatchi_closeup.webp">
    <img style="width: 120px; object-fit: contain;" src="{{ nesting }}images/page-assets/tamagotchi/ginjirotchi.webp">
</div>
<hr>

{# website ads #}
{# <iframe width="180" height="180" style="border:none" src="https://nvlk.dimden.dev/" name="neolink"></iframe>
<hr> #}
</aside>