<div>
    <iframe src="https://iframe.chat/embed?chat=19019043" id="chattable" title="chatbox"></iframe>
    <script src="https://iframe.chat/scripts/main.min.js"></script>
    <script>
        chattable.initialize({
            theme: "Comment Section" // use the name of your preferred demo
        });
    </script>
</div>