<section class="dropshadow"
  style="font-family: Glacier-Regular; background-color: rgba(255, 255, 255, 0.577); padding: 0.45em;">
  <h3 style="margin-bottom: 0; font-family: Director;">Currently...</h3>
  <hr>
  {% for category, items in currently %}
  <p>
    <i style="font-family: Glacier-Bold;">{{ category | capitalize }}:</i> <br />
    {% for item in items %}
    {% if item.url %}
    * <a href="{{ item.url }}" target="_blank">{{ item.name }}</a> <br />
    {% else %}
    * {{ item.name }} <br />
    {% endif %}
    {% endfor %}
  </p>
  {% endfor %}
</section>