<footer class="dropshadow">
<p style="margin: 1px; text-align: center;">Last Updated: {{ page.date | readableDate }}</p>
<a href="#" tabindex="-1">Back to Top</a>
<script type="text/javascript" src="https://counter.websiteout.com/js/7/0/292/0"></script>
</footer>