<!doctype html>
<html lang="en">

<head>
     {% include "components/system/html-head.njk" %}
  <style>
    .gallery-container>img {
      width: 250px;
      object-fit: contain;
      border: 1px solid;
      padding: 2px;
      margin: 10px;
      filter: 0;
      box-shadow: 3px 3px 5px #666;
    }

      {% block style %}

      {% endblock %}
  </style>
</head>

<body>
  <div class="container">
    <nav class="flex-row" style="align-items: center; justify-content: space-between;">{% include
      "components/nav.njk" %}</nav>
    <main>
      <section class="flex-column dropshadow newspaper" style="padding-top: 0;">
        <h2 class="blue-header">{{title}}</h2>
        <div class="internal_content_box padding">
          <hr>
          {{ content | safe }}
        </div>
      </section>
    </main>
    {% include "components/aside.njk" %}
    <footer class="dropshadow">
      <a href="#" tabindex="-1">Back to Top</a>
      <script type="text/javascript" src="https://counter.websiteout.com/js/7/6/295/1"></script>
    </footer>
    <!-- 
        11ty layout guide:
        
        % include "" % requires a njk file to include.
        % block % requires a PAGE-SPECIFIC njk or html file, in this case index.html, to define the content for that block.

        % include % is for reusable components that are the same across multiple pages, like the header, nav, and
        footer.
        % block % is for page-specific content that will be different on each page, like the main content and aside.
        Each page can define its own content for the blocks, while still using the same overall layout defined in this
        layout.njk file.
        -->

  </div>
  <script src="{{ nesting }}/js-files/glightbox-personal.js"></script>
</body>

</html>